<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Message</title>

    <!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="jquery/jquery-ui.min.css">
	<link rel="stylesheet" href="jquery/jquery-ui.theme.css">
	<link rel="stylesheet" href="jquery/jquery-ui.theme.min.css">

	<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="bootstrap/css/bootstrap-theme.css">

	<script type="text/javascript" src="jquery/external/jquery/jquery.js"></script>
	<script type="text/javascript" src="jquery/jquery-ui.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>


	<link href="css/index.css" rel="stylesheet">

	<link href="/image/logo.ico" rel="shortcut icon">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div class="contain-fluild">
	<div class="row-fluid">
		<div class="span12">
			<!-- Navigation Start -->
			<nav class="navbar navbar-default" role="navigation">
		            <!-- Brand and toggle get grouped for better mobile display -->
		            <div class="navbar-header">
		                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		                    <span class="sr-only">Toggle navigation</span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                </button>
		  			  <img class="navbar-brand" alt="logo" src="/image/logo.png">
		                <p class="nav navbar-left">Message</p>
		            </div>
		        <!-- /.container -->
		    </nav>
			<!-- Navigation End -->
		</div>
	</div>

	<!-- chats and contacts tab Begin -->
	<div class="row-fluid">
			<div class="col-md-4">
				<ul id="tab" class="nav nav-tabs">
					<li class="active">
				      <a href="#chats" data-toggle="tab">
				         Chats
				      </a>
				   </li>
				   <li>
					   <a href="#contacts" data-toggle="tab">
						   Contacts
					   </a>
				   </li>
				</ul>

				<!-- chats and contacts tab content begin -->
				<div id="tabContent" class="tab-content">
					<!-- chats tab content begin -->
					<div class="tab-pane fade in active" id="chats">
						<div class="list-group"  height="100px">
							<a href="#"  class="list-group-item">
								<table border="0px">
									<tr>
										<td width="15%"><img src="/image/logo.png" width="100%"></td>
										<td><p align="center">Jack<p></td>
										<td><p align="center">00:20</p>
									</tr>
								</table>
							</a>
							<a href="#"  class="list-group-item">
								<table border="0px">
									<tr>
										<td width="15%"><img src="/image/logo.png" width="100%"></td>
										<td><p href="#" align="center">Jack<p></td>
										<td><p  align="center">00:20</p>
									</tr>
								</table>
							</a>
							<a href="#"  class="list-group-item">
								<table border="0px">
									<tr>
										<td width="15%"><img src="/image/logo.png" width="100%"></td>
										<td><p align="center">Jack<p></td>
										<td><p align="center">00:20</p>
									</tr>
								</table>
							</a>
							<a href="#"  class="list-group-item">
								<table border="0px">
									<tr>
										<td width="15%"><img src="/image/logo.png" width="100%"></td>
										<td><p href="#" align="center">Jack<p></td>
										<td><p  align="center">00:20</p>
									</tr>
								</table>
							</a>
							<a href="#"  class="list-group-item">
								<table border="0px">
									<tr>
										<td width="15%"><img src="/image/logo.png" width="100%"></td>
										<td><p align="center">Jack<p></td>
										<td><p align="center">00:20</p>
									</tr>
								</table>
							</a>
							<a href="#"  class="list-group-item">
								<table border="0px">
									<tr>
										<td width="15%"><img src="/image/logo.png" width="100%"></td>
										<td><p href="#" align="center">Jack<p></td>
										<td><p  align="center">00:20</p>
									</tr>
								</table>
							</a>
							<a href="#"  class="list-group-item">
								<table border="0px">
									<tr>
										<td width="15%"><img src="/image/logo.png" width="100%"></td>
										<td><p href="#" align="center">Jack<p></td>
										<td><p  align="center">00:20</p>
									</tr>
								</table>
							</a>
							<a href="#"  class="list-group-item">
								<table border="0px">
									<tr>
										<td width="15%"><img src="/image/logo.png" width="100%"></td>
										<td><p href="#" align="center">Jack<p></td>
										<td><p  align="center">00:20</p>
									</tr>
								</table>
							</a>
							<a href="#"  class="list-group-item">
								<table border="0px">
									<tr>
										<td width="15%"><img src="/image/logo.png" width="100%"></td>
										<td><p href="#" align="center">Jack<p></td>
										<td><p  align="center">00:20</p>
									</tr>
								</table>
							</a>
							<a href="#"  class="list-group-item">
								<table border="0px">
									<tr>
										<td width="15%"><img src="/image/logo.png" width="100%"></td>
										<td><p href="#" align="center">Jack<p></td>
										<td><p  align="center">00:20</p>
									</tr>
								</table>
							</a>
							<a href="#"  class="list-group-item">
								<table border="0px">
									<tr>
										<td width="15%"><img src="/image/logo.png" width="100%"></td>
										<td><p href="#" align="center">Jack<p></td>
										<td><p  align="center">00:20</p>
									</tr>
								</table>
							</a>
							<a href="#"  class="list-group-item">
								<table border="0px">
									<tr>
										<td width="15%"><img src="/image/logo.png" width="100%"></td>
										<td><p href="#" align="center">Jack<p></td>
										<td><p  align="center">00:20</p>
									</tr>
								</table>
							</a>
							<!-- <div class="list-group-item">
								<img src="/image/logo.png">
								<a href="#">Jack<a>
								<p> 00:20</p>
							</div> -->
						</div>
						<!-- <ul class="list-group">
						   <li class="list-group-item" align="center">免费域名注册</li>
						   <li class="list-group-item" align="center">免费 Window 空间托管</li>
						   <li class="list-group-item" align="center">图像的数量</li>
						   <li class="list-group-item" align="center">24*7 支持</li>
						   <li class="list-group-item" align="center">每年更新成本</li>
						</ul> -->
					</div>
					<div class="tab-pane fade" id="contacts">
			            <div class="panel-group" id="accordion2">
			                <div class="panel panel-default">
			                    <div class="panel-heading" data-toggle="collapse"
			                        data-parent="#accordion2" href="#collapseOne">
			                        <a class="accordion-toggle">Java</a>
			                    </div>
			                    <div id="collapseOne" class="panel-collapse collapse"
			                        style="height: 0px;">
			                        <div class="panel-body">
			                            <ul class="nav nav-pills nav-stacked">
			                                <li><a href="#">Java基础</a></li>
			                                <li><a href="#">Java面向对象</a></li>
			                            </ul>
			                        </div>
			                    </div>
			                </div>
			                <div class="panel panel-default">
			                    <div class="panel-heading" data-toggle="collapse"
			                        data-parent="#accordion2" href="#collapseTwo">
			                        <a class="accordion-toggle">数据库</a>
			                    </div>
			                    <div id="collapseTwo" class="panel-collapse collapse"
			                        style="height: 0px;">
			                        <div class="panel-body">
			                            <ul class="nav nav-pills nav-stacked">
			                                <li><a href="#">SQL基础</a></li>
			                                <li><a href="#">Oracle</a></li>
			                                <li><a href="#">MySQL</a></li>
											<li><a href="#">SQL基础</a></li>
			                                <li><a href="#">Oracle</a></li>
			                                <li><a href="#">MySQL</a></li>
			                            </ul>
			                        </div>
			                    </div>
			                </div>
			            </div>
			        </div>

				</div>
				<!-- chats and contacts tab content end -->
			</div>
			<div class="col-md-8"></div>
	</div>

	<!-- chats and contacts tab End -->


</div>
</body>

</html>






















<!--  -->
