<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Message</title>

    <!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="jquery/jquery-ui.min.css">
	<link rel="stylesheet" href="jquery/jquery-ui.theme.css">
	<link rel="stylesheet" href="jquery/jquery-ui.theme.min.css">

	<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="bootstrap/css/bootstrap-theme.css">

	<script type="text/javascript" src="jquery/external/jquery/jquery.js"></script>
	<script type="text/javascript" src="jquery/jquery-ui.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>


	<link href="css/index.css" rel="stylesheet">
	<link href="css/message.css" rel="stylesheet">
	<link href="/image/logo.ico" rel="shortcut icon">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script type="text/javascript" src="js/index.js"></script>
</head>

<body>
<div class="containr">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<img class="navbar-brand" alt="logo" src="/image/logo.png">
				<p class="nav navbar-left">Message</p>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  			  <ul class="navbar-right list-inline">
                    <li class="active">
						<div class="dropdown">
							<a type="button" class="btn dropdown-toggle" id="setting" data-toggle="dropdown">
								<span class="glyphicon glyphicon-bell"></span>
						   </a>
						   <ul class="dropdown-menu" role="menu">
							   <!-- <li><a id="profile" href="#">profile</a></li>
							   <li><a id="setting" href="#">setting</a></li>
							   <li><a id="logout"  href="#">logout</a></li> -->
						   </ul>
					   </div>
                    </li>
					<li class="active">
						<div class="dropdown">
							<a type="button" class="btn dropdown-toggle" id="setting" data-toggle="dropdown">
								<span class="glyphicon glyphicon-plus"></span>
						   </a>
						   <ul class="dropdown-menu" role="menu">
							   <!-- <li><a id="profile" href="#">profile</a></li>
							   <li><a id="setting" href="#">setting</a></li>
							   <li><a id="logout"  href="#">logout</a></li> -->
						   </ul>
					   </div>
                    </li>
					<li class="active">
						<div class="dropdown">
							<a type="button" class="btn dropdown-toggle" id="setting" data-toggle="dropdown">
								<img class="img-circle nav-user-avar" src="">
								<span class="caret"></span>
						   </a>
						   <ul class="dropdown-menu" role="menu">
							   <li><a id="profile" href="#">profile</a></li>
 							  <li><a id="setting" href="#">setting</a></li>
 							  <li><a id="logout"  href="#">logout</a></li>
						   </ul>
					   </div>
					</li>
             </ul>
            </div>
		</div>
		<!-- /.container -->
	</nav>

	<!-- chats and contacts tab Begin -->
	<div class="row"  style="margin-top:15px; margin-left: 5%;margin-right:5% margin-bottom:0px">
			<div class="col-sm-3">
				<div class="panel" margin-left="10%" style="background-color:rgb(50,50,50)">
					<div class="panel-title">
						<img src="/avatar/jack.JPG" class="img-circle user-avar" width="40px" height="40px">
						<small style="color:#fff;" id="user-name"></small>
						<div class="pull-right">
							<a href="#search" data-toggle="modal" data-target="#searchModal" style="color:#fff;">
								<span class="glyphicon glyphicon-search" style="color=#fff"> </span>
							</a>
							<div class="modal fade" id="searchModal" tabindex="-1" role="dialog"
							   aria-labelledby="myModalLabel" aria-hidden="true">
							   <div class="modal-dialog">
							      <div class="modal-content">
							         <div class="modal-header">
							            <button type="button" class="close"
							               data-dismiss="modal" aria-hidden="true">
							                  &times;
							            </button>
							            <h4 class="modal-title" id="myModalLabel">
							               search a friend
							            </h4>
							         </div>

									 <div class="input-group">
								         <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
								         <input type="text" class="form-control" id="searchAFriendUserName" placeholder="username">
								     </div>
									 <div class="panel" id="searchAFriendPanel" style="margin-top:50px; border:1px solid; display:none;">
										 <ul class="list-inline">
											 <li style="margin-bottom:10px; padding-left:40%;">
												 <img class="img-circle" id="searchAFriendAvatar" src="" style="height:50px; width:50px;">
											 </li>
											 <li style="padding-top:10px;">
												 <div>
												 	<!-- <p id="searchAFriendGetUserName" display="none"></p> -->
												 	<a type="button" class="btn btn-primary" id="searchAFriendAdd" >Add</a>
											 	</div>
											 </li>
										 </ul>
									 </div>
							         <div class="modal-footer">
							            <button type="button" class="btn btn-default"
							               data-dismiss="modal">cancel
							            </button>
							            <button type="button" class="btn btn-primary" id="search">
							               search
							            </button>
							         </div>
							      </div><!-- /.modal-content -->
								</div><!-- /.modal -->
							</div>

							<div class="modal fade" id="addAFriendModal" tabindex="-1" role="dialog"
							   aria-labelledby="myModalLabel" aria-hidden="true">
							   <div class="modal-dialog">
							      <div class="modal-content">
							         <div class="modal-header">
							            <button type="button" class="close"
							               data-dismiss="modal" aria-hidden="true">
							                  &times;
							            </button>
							            <h4 class="modal-title" id="myModalLabel">
							               add a friend
							            </h4>
							         </div>

									 <div class="input-group">
								         <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
								         <input type="text" class="form-control" id="sendFriendRequest" placeholder="Send friend request">
								     </div>
							         <div class="modal-footer">
							            <button type="button" class="btn btn-default"
							               data-dismiss="modal">cancel
							            </button>
							            <button type="button" class="btn btn-primary" id="send">
							               send
							            </button>
							         </div>
							      </div><!-- /.modal-content -->
								</div><!-- /.modal -->
							</div>

							<div class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" style="color:#fff;">
									<span class="glyphicon glyphicon-align-justify"></span>
									<span class="caret"></span>
								</a>
							    <ul class="dropdown-menu" role="menu">
								   <a id="addAFriend" href="#"><li>Add a friend</li></a>
								   <a id="addAList" href="#"><li>Add a list</li></a>
								   <a href="#"><li></li></a>
							    </ul>
					   		</div>
					   </div>
					</div>
					<ul id="tab" class="nav nav-tabs" >
						<li class="active">
							<a href="#chats" data-toggle="tab" style="color:#fff;">
  								<span class="glyphicon glyphicon-comment" style="color=#fff"> </span>
  						  	</a>
					   	</li>
					   	<li>
							<a href="#contacts" data-toggle="tab" style="color:#fff;">
  							  <span class="glyphicon glyphicon-user" style="color=#fff"> </span>
  						  	</a>
					   	</li>
					</ul>

					<!-- chats and contacts tab content begin -->
					<div id="tabContent" class="tab-content"  style="background-color:rgb(50,50,50)">
						<!-- chats tab content begin -->
						<div class="tab-pane fade in active" id="chats">
							<div class="pane chat-panel">
								<table class="table table-hover">
							      <tbody>
							        <tr>
							          <td><img class="img-circle chat-avar", src="/avatar/lily.JPG" width="100%"></td>
							          <td><p>Lily<p></td>
							          <td><small>Yesterday</small></td>
							        </tr>
									<tr>
							          <td><img class="img-circle chat-avar", src="/avatar/Mike.JPG" width="100%"></td>
							          <td><p>Mike</p></td>
							          <td><small>Yesterday</small></td>
							        </tr>
									<tr>
							          <td><img class="img-circle chat-avar", src="/avatar/James.JPG" width="100%"></td>
							          <td><p>James</p></td>
							          <td><small>Yesterday</small></td>
							        </tr>
							      </tbody>
							    </table>
							</div>

						</div>
						<!-- chat tab end -->

						<!-- contancts tab begin -->
						<div class="tab-pane fade" id="contacts">
				            <div class="panel-group contacts-panel" id="accordion2">
								<div class="accordion" id="contacts-list-group">
								  
								 </div>
							</div>
						</div>
				</div>
					<!-- chats and contacts tab content end -->
				</div>
			</div>

			<!-- message windows begin-->
			<div class="col-sm-8">
				<div class="panel">
					<div class="panel-title">
						<p><small>Mike</small></p
					</div>
					<div class="panel message-panel">
				        <ul class="content-reply-box mg10">
				            <li class="odd">
				                <a class="user" href="#">
									<img class="img-responsive avatar_" src="images/avatar-1.png" alt="">
									<span class="user-name">奔波儿灞</span>
								</a>
				                <div class="reply-content-box">
				                	<span class="reply-time">03-08 15：00</span>
				                    <div class="reply-content pr">
				                    	<span class="arrow">&nbsp;</span>
				                    	为什么小鑫的名字里有三个金呢？
				                    </div>
				                </div>
				            </li>
				            <li class="even">
				                <a class="user" href="#"><img class="img-responsive avatar_" src="images/avatar-1.png" alt=""><span class="user-name">灞波儿奔</span></a>
				                <div class="reply-content-box">
				                	<span class="reply-time">03-08 15：10</span>
				                    <div class="reply-content pr">
				                    	<span class="arrow">&nbsp;</span>
				                    	他命里缺金，所以取名叫鑫，有些人命里缺水，就取名叫淼，还有些人命里缺木就叫森。
				                    </div>
				                </div>
				            </li>
				            <li class="odd">
				                <a class="user" href="#"><img class="img-responsive avatar_" src="images/avatar-1.png" alt=""><span class="user-name">奔波儿灞</span></a>
				                <div class="reply-content-box">
				                	<span class="reply-time">03-08 15：20</span>
				                    <div class="reply-content pr">
				                    	<span class="arrow">&nbsp;</span>
				                    	那郭晶晶命里缺什么？
				                    </div>
				                </div>
				            </li>
				            <li class="even">
				                <a class="user" href="#"><img class="img-responsive avatar_" src="images/avatar-1.png" alt=""><span class="user-name">灞波儿奔</span></a>
				                <div class="reply-content-box">
				                	<span class="reply-time">03-08 15：30</span>
				                    <div class="reply-content pr">
				                    	<span class="arrow">&nbsp;</span>
				                    	此处省略一百字...
				                    </div>
				                </div>
				            </li>
							<li class="odd">
				                <a class="user" href="#"><img class="img-responsive avatar_" src="images/avatar-1.png" alt=""><span class="user-name">奔波儿灞</span></a>
				                <div class="reply-content-box">
				                	<span class="reply-time">03-08 15：20</span>
				                    <div class="reply-content pr">
				                    	<span class="arrow">&nbsp;</span>
				                    	那郭晶晶命里缺什么？
				                    </div>
				                </div>
				            </li>
				            <li class="even">
				                <a class="user" href="#"><img class="img-responsive avatar_" src="images/avatar-1.png" alt=""><span class="user-name">灞波儿奔</span></a>
				                <div class="reply-content-box">
				                	<span class="reply-time">03-08 15：30</span>
				                    <div class="reply-content pr">
				                    	<span class="arrow">&nbsp;</span>
				                    	此处省略一百字...
				                    </div>
				                </div>
				            </li>
							<li class="odd">
				                <a class="user" href="#"><img class="img-responsive avatar_" src="images/avatar-1.png" alt=""><span class="user-name">奔波儿灞</span></a>
				                <div class="reply-content-box">
				                	<span class="reply-time">03-08 15：20</span>
				                    <div class="reply-content pr">
				                    	<span class="arrow">&nbsp;</span>
				                    	那郭晶晶命里缺什么？
				                    </div>
				                </div>
				            </li>
				            <li class="even">
				                <a class="user" href="#"><img class="img-responsive avatar_" src="images/avatar-1.png" alt=""><span class="user-name">灞波儿奔</span></a>
				                <div class="reply-content-box">
				                	<span class="reply-time">03-08 15：30</span>
				                    <div class="reply-content pr">
				                    	<span class="arrow">&nbsp;</span>
				                    	此处省略一百字...
				                    </div>
				                </div>
				            </li>
				        </ul>
					</div>
					<div class="input-group input-group-lg">
						<input type="text" class="form-control" id="input-edit" placeholder="Enter message here">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" onclick="onClickSendMessage()">
								send
								<span class="glyphicon glyphicon-send"></span>
							</button>
						</span>
					</div>
				</div>
			</div>

	</div>

	<!-- chats and contacts tab End -->


</div>
</body>

</html>






















<!--  -->
