<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Message</title>

    <!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="jquery/jquery-ui.min.css">
	<link rel="stylesheet" href="jquery/jquery-ui.theme.css">
	<link rel="stylesheet" href="jquery/jquery-ui.theme.min.css">

	<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="bootstrap/css/bootstrap-theme.css">

	<script type="text/javascript" src="jquery/external/jquery/jquery.js"></script>
	<script type="text/javascript" src="jquery/jquery-ui.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>


	<link href="css/index.css" rel="stylesheet">

	<link href="/image/logo.ico" rel="shortcut icon">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script type="text/javascript" language="javascript">
		$(document).ready(function(){
			$("a.accordion-toggle").click(function(){
				$(this).find("span").toggleClass("glyphicon-chevron-right");
				$(this).find("span").toggleClass("glyphicon-chevron-down");
			});
		});

		/*set the tab color*/
		$(document).ready(function(){
			$(".nav-tabs li a").click(function(){
				$(".nav-tabs li a").css("color", "rgb(255, 255, 255)");
				$(this).css("color", "rgb(100, 185, 60)");
			});
		});

		$(document).ready(function(){
			$.get("/getUserInfo", function(data, status){

			});

		});

	</script>
</head>

<body>
<div class="containr">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<img class="navbar-brand" alt="logo" src="/image/logo.png">
				<p class="nav navbar-left">Message</p>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  			  <ul class="navbar-right list-inline">
                    <li class="active">
						<div class="dropdown">
							<a type="button" class="btn dropdown-toggle" id="setting" data-toggle="dropdown">
								<span class="glyphicon glyphicon-bell"></span>
						   </a>
						   <ul class="dropdown-menu" role="menu">
							   <a id="profile" href="#"><li>profile</li></a>
							   <a id="setting" href="#"><li>setting</li></a>
							   <a id="logout"  href="#"><li>logout</li></a>
						   </ul>
					   </div>
                    </li>
					<li class="active">
						<div class="dropdown">
							<a type="button" class="btn dropdown-toggle" id="setting" data-toggle="dropdown">
								<span class="glyphicon glyphicon-plus"></span>
						   </a>
						   <ul class="dropdown-menu" role="menu">
							   <a href="#"><li>profile</li></a>
							   <a href="#"><li>setting</li></a>
							   <a href="#"><li>logout</li></a>
						   </ul>
					   </div>
                    </li>
					<li class="active">
						<div class="dropdown">
							<a type="button" class="btn dropdown-toggle" id="setting" data-toggle="dropdown">
								<img class="img-circle nav-user-avar" src="/avatar/Jack.JPG">
								<span class="caret"></span>
						   </a>
						   <ul class="dropdown-menu" role="menu">
							   <a href="#"><li>profile</li></a>
							   <a href="#"><li>setting</li></a>
							   <a href="#"><li>logout</li></a>
						   </ul>
					   </div>
					</li>
                </ul>
            </div>
		</div>
		<!-- /.container -->
	</nav>

	<!-- chats and contacts tab Begin -->
	<div class="row"  style="margin-top:15px; margin-left: 5%;margin-right:5% margin-bottom:0px">
			<div class="col-sm-3">
				<div class="panel" margin-left="10%" style="background-color:rgb(50,50,50)">
					<div class="panel-title">
						<img src="/avatar/jack.JPG" class="img-circle user-avar" width="40px" height="40px">
						<small style="color:#fff;">Jack</small>
						<div class="dropdown pull-right">
							<a class="dropdown-toggle" data-toggle="dropdown" style="color:#fff;">
								<span class="glyphicon glyphicon-align-justify"></span>
								<span class="caret"></span>
							</a>
						   <ul class="dropdown-menu" role="menu">
							   <a id="addAFriend" href="#"><li>Add a friend</li></a>
							   <a id="addAList" href="#"><li>Add a list</li></a>
							   <a href="#"><li></li></a>
						   </ul>
					   </div>
					</div>
					<ul id="tab" class="nav nav-tabs" >
						<li class="active">
							<a href="#chats" data-toggle="tab" style="color:#fff;">
  								<span class="glyphicon glyphicon-comment" style="color=#fff"> </span>
  						  	</a>
					   	</li>
					   	<li>
							<a href="#contacts" data-toggle="tab" style="color:#fff;">
  							  <span class="glyphicon glyphicon-user" style="color=#fff"> </span>
  						  	</a>
					   	</li>
					   	<li>
							<a href="#search" data-toggle="tab" style="color:#fff;">
								<span class="glyphicon glyphicon-search" style="color=#fff"> </span>
							</a>
					  	</li>
					</ul>

					<!-- chats and contacts tab content begin -->
					<div id="tabContent" class="tab-content"  style="background-color:rgb(50,50,50)">
						<!-- chats tab content begin -->
						<div class="tab-pane fade in active" id="chats">
							<div class="pane chat-panel">
								<table class="table table-hover">
							      <tbody>
							        <tr>
							          <td><img class="img-circle chat-avar", src="/avatar/lily.JPG" width="100%"></td>
							          <td><p>Lily<p></td>
							          <td><small>Yesterday</small></td>
							        </tr>
									<tr>
							          <td><img class="img-circle chat-avar", src="/avatar/Mike.JPG" width="100%"></td>
							          <td><p>Mike</p></td>
							          <td><small>Yesterday</small></td>
							        </tr>
									<tr>
							          <td><img class="img-circle chat-avar", src="/avatar/James.JPG" width="100%"></td>
							          <td><p>Mike</p></td>
							          <td><small>Yesterday</small></td>
							        </tr>
									<tr>
							          <td><img class="img-circle chat-avar", src="/avatar/Lisa.JPG" width="100%"></td>
							          <td><p>Mike</p></td>
							          <td><small>Yesterday</small></td>
							        </tr>
									<tr>
							          <td><img class="img-circle chat-avar", src="/avatar/lily.JPG" width="100%"></td>
							          <td><p>Lily<p></td>
							          <td><small>Yesterday</small></td>
							        </tr>
									<tr>
							          <td><img class="img-circle chat-avar", src="/avatar/Mike.JPG" width="100%"></td>
							          <td><p>Mike</p></td>
							          <td><small>Yesterday</small></td>
							        </tr>
									<tr>
							          <td><img class="img-circle chat-avar", src="/avatar/James.JPG" width="100%"></td>
							          <td><p>Mike</p></td>
							          <td><small>Yesterday</small></td>
							        </tr>
									<tr>
							          <td><img class="img-circle chat-avar", src="/avatar/Lisa.JPG" width="100%"></td>
							          <td><p>Mike</p></td>
							          <td><small>Yesterday</small></td>
							        </tr>
									<tr>
							          <td><img class="img-circle chat-avar", src="/avatar/lily.JPG" width="100%"></td>
							          <td><p>Lily<p></td>
							          <td><small>Yesterday</small></td>
							        </tr>

							      </tbody>
							    </table>
							</div>

						</div>
						<!-- chat tab end -->

						<!-- contancts tab begin -->
						<div class="tab-pane fade" id="contacts">
				            <div class="panel-group contacts-panel" id="accordion2">
								<!-- <table class="table table-hover">
								  <tbody>
									  <tr>
										  <td>
											  <div class="panel panel-default">
			  				                    <div class="panel-heading" data-toggle="collapse"
			  				                        data-parent="#accordion2" href="#collapseOne">
			  				                        <a class="accordion-toggle">Java</a>
			  				                    </div>
			  				                    <div id="collapseOne" class="panel-collapse collapse" style="height: 0px;">
			  				                        <div class="panel-body">
			  				                            <ul class="nav nav-pills nav-stacked">
			  				                                <li><a href="#">Java基础</a></li>
			  				                                <li><a href="#">Java面向对象</a></li>
			  				                            </ul>
			  				                        </div>
			  				                    </div>
			  				                </div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="panel panel-default">
												<div class="panel-heading" data-toggle="collapse"
								                    data-parent="#accordion2" href="#collapseTwo">
								                    <a class="accordion-toggle">数据库</a>
								                </div>
								                <div id="collapseTwo" class="panel-collapse collapse"
								                    style="height: 0px;">
								                	<div class="panel-body">
								                        <ul class="nav nav-pills nav-stacked">
								                            <li><a href="#">SQL基础</a></li>
								                            <li><a href="#">Oracle</a></li>
								                        </ul>
								                    </div>
								                </div>
											</div>
										</td>
									</tr>
								</tbody>
							</table> -->

							<div class="accordion" id="accordion2">
							   <div class="accordion-group">
								 	<div class="accordion-heading">
								   		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#friendList">
											<span class="glyphicon glyphicon-chevron-right"></span>
											friend
								   		</a>
								 	</div>
								 	<div id="friendList" class="accordion-body collapse" style="height: 0px; ">
								   		<div class="accordion-inner">
											<table class="table table-hover">
											  <tbody>
												<tr>
												  	<td><img class="img-circle chat-avar", src="/avatar/lily.JPG" width="100%"></td>
												  	<td><p>Lily</p></td>
													<td><p id="state">[Online]</p></td>
												</tr>
												<tr>
												  	<td><img class="img-circle chat-avar", src="/avatar/Mike.JPG" width="100%"></td>
												  	<td><p>Mike</p></td>
													<td><p id="state">[Online]</p></td>
												</tr>
											  </tbody>
											</table>
								   		</div>
								 	</div>
							   </div>

							   <div class="accordion-group">
								 	<div class="accordion-heading">
								   		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#familyList">
											<span class="glyphicon glyphicon-chevron-right"></span>
											family
								   		</a>
								 	</div>
								 	<div id="familyList" class="accordion-body collapse" style="height: 0px; ">
								   		<div class="accordion-inner">
											<table class="table table-hover">
											  <tbody>
												<tr>
												  	<td><img class="img-circle chat-avar", src="/avatar/lily.JPG" width="100%"></td>
												  	<td><p>Lily</p></td>
													<td><p id="state">[Online]</p></td>
												</tr>
												<tr>
												  	<td><img class="img-circle chat-avar", src="/avatar/Mike.JPG" width="100%"></td>
												  	<td><p>Mike</p></td>
													<td><p id="state">[Online]</p></td>
												</tr>
											  </tbody>
											</table>
								   		</div>
								 	</div>
							   </div>
							 </div>
						</div>
					</div>
				</div>
					<!-- chats and contacts tab content end -->
				</div>
			</div>
			<div class="col-sm-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						<p id="chatName" align="center"> 123</p>
					</div>
					<div class="panel-body chat-body">
						<div class="msg-list">
						</div>
					</div>
				</div>
				<div class="input-group input-group-lg">
					<!-- <span class="input-group-btn">
						<button class="btn btn-default" id="emotion-btn" type="button">
							<img src="/img/emotion_smile.png" style="width:24px;height:24px;">
						</button>
					</span> -->
					<input type="text" class="form-control" id="input-edit" placeholder="Enter message here">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" onclick="onClickSendMessage()">
							send
							<span class="glyphicon glyphicon-send"></span>
						</button>
					</span>
				</div>
			</div>

	</div>

	<!-- chats and contacts tab End -->


</div>
</body>

</html>






















<!--  -->
