html,
body {
    height: 100%;
}
.navbar {
	height: 10%;
  	background-color: #fff;
  	border-color: transparent;
}
.navbar-header{
  	height: 100%;
  	color: #000000
}

.nav-tabs{
	height: 100%;
}

.navbar-brand {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 100px;
	padding-top: 0px;
	padding-bottom:0px;
}

.navbar-left{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom:0px;
	font-size: 200%;
}

.nav-tabs > li{
	width: 50%;
	padding: 5px;
	margin-right: 0px;
	margin-right: 0px;
}

.nav-tabs > li > a{
	margin-left: 0px;
	margin-right:0px;
	font-size: 15px;
}
.list-group-item{
	margin-top: -5px;
	margin-bottom:0px;
}
.list-group-item > ul > li{
	padding-left: 0px;
}

.list-group-item > table > tr > td{
	width: 15%;
	height: 15%;
}

.tab-pane{
	width: 100%;
}

.list-item{
	padding-top: 5px;
}

.panel-default{
	width: 100%;
}



.widget-container {
  min-height: 320px;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
  .widget-container.fluid-height {
    height: auto;
    min-height: 0; }
  .widget-container.small {
    min-height: 120px;
    height: 200px; }
  .widget-container.gallery {
    min-height: 400px; }
  .widget-container .heading {
    background: rgba(255, 255, 255, 0.94);
    height: 50px;
    padding: 15px 15px;
    color: #007aff;
    font-size: 15px;
    width: 100%;
    font-weight: 400;
    margin: 0; }
    .widget-container .heading [class^="icon-"], .widget-container .heading [class*="icon-"] {
      margin-right: 10px;
      font-size: 14px; }
      .widget-container .heading [class^="icon-"].pull-right, .widget-container .heading [class*="icon-"].pull-right {
        margin-right: 0px;
        margin-left: 15px;
        opacity: 0.35;
        font-size: 1.1em; }
      .widget-container .heading [class^="icon-"]:hover, .widget-container .heading [class*="icon-"]:hover {
        cursor: pointer;
        opacity: 1; }
  .widget-container .tabs {
    background: whitesmoke;
    border-bottom: 1px solid #dddddd; }
  .widget-container .widget-content {
    width: 100%; }
  .widget-container.scrollable {
    position: relative;
    height: 400px;
    padding-top: 50px; }
    .widget-container.scrollable.chat-home {
      height: 427px; }
    .widget-container.scrollable .heading {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10; }
    .widget-container.scrollable .shadow {
      box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1); }
    .widget-container.scrollable .widget-content {
      height: 100%;
      position: relative;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch; }

.padded {
