html,
body {
    height: 100%;
}
.navbar {
	height: 10%;
  	background-color: #fff;
  	border-color: transparent;
}
.navbar-header{
  	height: 100%;
  	color: #000000
}

.nav-tabs{
	height: 100%;
}

.navbar-brand {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 100px;
	padding-top: 0px;
	padding-bottom:0px;
}

.navbar-left{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom:0px;
	font-size: 200%;
}

.nav-tabs > li{
	width: 50%;
	padding: 5px;
	margin-right: 0px;
	margin-right: 0px;
}

.nav-tabs > li > a{
	margin-left: 0px;
	margin-right:0px;
	font-size: 15px;
}
.list-group-item{
	margin-top: -5px;
	margin-bottom:0px;
}
.list-group-item > ul > li{
	padding-left: 0px;
}

.list-group-item > table > tr > td{
	width: 15%;
	height: 15%;
}

.tab-pane{
	width: 100%;
}

.list-item{
	padding-top: 5px;
}

.panel-default{
	width: 100%;
}

.scroll-pane
{
    height: 500px;
    overflow: auto;
}

.chat-body{
	height: 420px;
	overflow-y: scroll;
}
